<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="MSSQLBuyersDBEntities" connectionString="metadata=res://*/Model.ModelSQLDB.csdl|res://*/Model.ModelSQLDB.ssdl|res://*/Model.ModelSQLDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\MSSQLBuyersDB.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MSSQLDBEntities" connectionString="metadata=res://*/Model.ModelDB.csdl|res://*/Model.ModelDB.ssdl|res://*/Model.ModelDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=E:\Courses\Aplication\Task17\Task17\DataBases\MSSQLBuyersDB.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>